<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <p>Name: <%= user.username  %></p>
    <p>Dojo Location: <%= user.location  %></p>
    <p>Favorite Language: <%= user.language  %></p>
    <p>Comment: <%= user.comment %></p>
    <form action="reset" method="post">
        <input type="submit" value="Go Back">
    </form>
</body>
</html>