
input,select,h1,p{
    margin-top: 10px;
    margin-left: 20px;

}

fieldset{
    width: 800px;
}

input[type="submit"]{
    font-size: 2em;
    background-color: blue;
    color: white;
    width: 800px;
    height: 50px;
}

p{
    color: red;
}
